<a href="https://colab.research.google.com/github/rachelhakes/Machine-Learning/blob/main/Data_Prep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Import dependencies

In [ ]:
import pandas as pd
import numpy as np
!pip install openpyxl

Requirement already satisfied: openpyxl in /usr/local/lib/python3.7/dist-packages (3.0.9)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.1.0)

## Mount drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Loading the data set

In [ ]:
# The path is not the same for every student. Please change path when working with the dataset
data_url = "/content/drive/MyDrive/Classroom/Competition1_raw_data (1).xlsx"

competition_df = pd.read_excel(data_url)
competition_df.head(10)

In [ ]:
# make a copy of the dataframe as we are about to drop NA in our target_df
competition_df1 = competition_df.copy()

In [ ]:
# We will replace the '-' with nan for our target variables
competition_df['P(IPO)'] = competition_df['P(IPO)'].replace('-', np.NaN)
competition_df['P(H)'] = competition_df['P(H)'].replace('-', np.NaN)
competition_df['P(L)'] = competition_df['P(L)'].replace('-', np.NaN)
competition_df['P(1Day)'] = competition_df['P(1Day)'].replace('-', np.NaN)

In [ ]:
# Now we can drop the nan rows before splitting the dataframe
competition_df = competition_df.dropna(axis=0, subset=['P(IPO)', 'P(H)','P(L)', 'P(1Day)'])

## Split the dataframe into 3 different dataframe

In [ ]:
# Create the dataframe containing our target variables
target_df = competition_df[['P(IPO)',	'P(H)',	'P(L)',	'P(1Day)']]
target_df.head()

In [ ]:
# Now lets create categorical dataframe
categorical_df = competition_df[['I1', 'I2', 'I3', 'C2']]
categorical_df.head()

In [ ]:
# Create numerical dataframe
numerical_df = competition_df[['C1', 'C3', 'C4', 'C5', 'C6', 'C7', 'T1', 'T2', 'T3', 'T4', 'T5', 'S1', 'S2', 'S3']]
numerical_df.head()

## Handle '-' values for the **numerical_df** dataframe

In [ ]:
# We will replace the '-' with nan for our numerical dataframe
numerical_df = numerical_df.replace('-', np.NaN)
numerical_df.head(10)

In [ ]:
# check the percent of NaN values per column
(numerical_df.isna().sum()/numerical_df.shape[0]).round(4) * 100

In [ ]:
# Impute the continuous data with the median value
numerical_df['C1'].fillna((numerical_df['C1'].median()), inplace=True)
numerical_df['C3'].fillna((numerical_df['C3'].median()), inplace=True)
numerical_df['C4'].fillna((numerical_df['C4'].median()), inplace=True)
numerical_df['C5'].fillna((numerical_df['C5'].median()), inplace=True)
numerical_df['C6'].fillna((numerical_df['C6'].median()), inplace=True)
numerical_df['C7'].fillna((numerical_df['C7'].median()), inplace=True)
numerical_df['T1'].fillna((numerical_df['T1'].median()), inplace=True)
numerical_df['T2'].fillna((numerical_df['T2'].median()), inplace=True)
numerical_df['T3'].fillna((numerical_df['T3'].median()), inplace=True)
numerical_df['T4'].fillna((numerical_df['T4'].median()), inplace=True)
numerical_df['T5'].fillna((numerical_df['T5'].median()), inplace=True)
numerical_df['S1'].fillna((numerical_df['S1'].median()), inplace=True)
numerical_df['S2'].fillna((numerical_df['S2'].median()), inplace=True)
numerical_df['S3'].fillna((numerical_df['S3'].median()), inplace=True)

In [ ]:
# make sure no NaN data remains after imputation
(numerical_df.isna().sum()/numerical_df.shape[0]).round(4) * 100

## Handle '-' values for the **categorical_df** dataframe

In [ ]:
# We will replace the '-' with nan for our categorical dataframe
categorical_df = categorical_df.replace('-', np.NaN)
categorical_df.head(10)

In [ ]:
# check the percent of NaN values per column
(categorical_df.isna().sum()/categorical_df.shape[0]).round(4) * 100

In [ ]:
## NOT NECESSARY SINCE THERE IS NO MISSING DATA


# Since the dataframe represents categorical data, the mode will be used to impute the missing values
categorical_df['C2'].fillna((categorical_df['C2'].mode()[0]), inplace=True)

In [ ]:
# Ratio of missing values
(categorical_df.isna().sum()/categorical_df.shape[0]).round(4) * 100

## Check types of each dataframe

In [ ]:
target_df.dtypes

In [ ]:
numerical_df.dtypes

In [ ]:
# Lets convert all types into float64
numerical_df = numerical_df.astype('float64')

In [ ]:
# check to see if types were properly converted to float
numerical_df.dtypes

In [ ]:
categorical_df.dtypes

In [ ]:
# Since C2 is binary, we will have to convert that into str
categorical_df['C2'] = categorical_df['C2'].astype(str)

In [ ]:
# check to see if types were properly converted to str
categorical_df.dtypes

## Creating new columns **target_df** and handling values

In [ ]:
# swap values of 'P(L)' and 'P(H)' if 'P(L)' is greater than 'P(H)'
target_df['P(H)'], target_df['P(L)'] = np.where(target_df['P(H)'] < target_df['P(L)'], [target_df['P(L)'], target_df['P(H)']], [target_df['P(H)'], target_df['P(L)']])

In [ ]:
# check if the swapping works as expected
assert target_df['P(H)'].any() >= target_df['P(L)'].any()

In [ ]:
# Creating column 'P(mid)' as we need it for creating other columns
target_df['P(mid)'] = ((target_df['P(H)'] + target_df['P(L)']) / 2)
target_df['Y1'] = np.where((target_df['P(IPO)'] < target_df['P(mid)']), 1, 0)
target_df['Y2'] = np.where(target_df['P(IPO)'] < target_df['P(1Day)'], 1, 0)
target_df.head()

In [ ]:
# target variable Y1 and Y2 are categorical
target_df['Y1'] = target_df['Y1'].astype(str)
target_df['Y2'] = target_df['Y2'].astype(str)

In [ ]:
# check to see if types were properly converted
target_df.dtypes

In [ ]:
# make sure swapping works
assert target_df['P(H)'].any() >= target_df['P(L)'].any()

In [ ]:
# put the target variables in their own dataframe
target_variables = target_df[['Y1', 'Y2']]
target_variables.head()

In [ ]:
# export dataframe for use in pipeline
to_csv = target_variables.to_csv('/content/drive/MyDrive/Classroom/DATA 6545: Machine Learning for Predictive Analysis SP2022/targetvariables.csv', index = True, encoding='utf-8')

## Creating new columns **numerical_df** and handling values

In [ ]:
# apply constraints, replace with NaN values if not met
numerical_df['T1'] = np.where(numerical_df['T1'] <= 0, np.NaN, numerical_df['T1'])
numerical_df['T2'] = np.where(numerical_df['T2'] <= 0, np.NaN, numerical_df['T2'])
numerical_df['T3'] = np.where(numerical_df['T3'] < 0, np.NaN, numerical_df['T3'])
numerical_df['T4'] = np.where(numerical_df['T4'] < 0, np.NaN, numerical_df['T4'])
numerical_df['T5'] = np.where(numerical_df['T5'] < 0, np.NaN, numerical_df['T5'])
numerical_df['S1'] = np.where(numerical_df['S1'] < 0, np.NaN, numerical_df['S1'])
numerical_df['S2'] = np.where(numerical_df['S2'] < 0, np.NaN, numerical_df['S2'])
numerical_df['S3'] = np.where(numerical_df['S3'] < 0, np.NaN, numerical_df['S3'])
numerical_df['C5'] = np.where(numerical_df['C5'] <= 0, np.NaN, numerical_df['C5'])
numerical_df['C6'] = np.where(numerical_df['C6'] <= 0, np.NaN, numerical_df['C6'])

In [ ]:
# check minimum values in each column
numerical_df.min()

In [ ]:
# Double check these variable do not have a value less than/less than or equal to 0
assert numerical_df['T1'].any() >= 0
assert numerical_df['T2'].any() >= 0
assert numerical_df['T3'].any() > 0
assert numerical_df['T4'].any() > 0
assert numerical_df['T5'].any() > 0
assert numerical_df['S1'].any() > 0
assert numerical_df['S2'].any() > 0
assert numerical_df['S3'].any() > 0
assert numerical_df['C5'].any() >= 0
assert numerical_df['C6'].any() >= 0

In [ ]:
# with so many attributes lets check for null values
(numerical_df.isna().sum()/numerical_df.shape[0]).round(4) * 100

In [ ]:
# Lets impute the rest with their median
numerical_df['T2'].fillna((numerical_df['T2'].median()), inplace=True)
numerical_df['T5'].fillna((numerical_df['T5'].median()), inplace=True)
numerical_df['S1'].fillna((numerical_df['S1'].median()), inplace=True)

In [ ]:
# test to see if imputation worked
(numerical_df.isna().sum()/numerical_df.shape[0]).round(4) * 100

In [ ]:
# Now we can create the columns from the dictionary
numerical_df['C1\''] = np.log10(numerical_df['C1'])
# Positive EPS Dummy Variable
numerical_df['C3\''] = np.where(numerical_df['C3'] > 0, 1, 0)
# Set this variable to be binary/categorical
numerical_df['C3\''] = numerical_df['C3\''].astype(str)
# Share Overhand Variable
numerical_df['C5\''] = numerical_df['C5'] / numerical_df['C6']
# Up Revision Variable
numerical_df['C6\''] = np.where(target_df['P(IPO)'] > target_df['P(mid)'], ((target_df['P(IPO)']-target_df['P(mid)'])/target_df['P(mid)'])*100, 0)
# percent of long sentences
numerical_df['T1\''] = numerical_df['T4'] / numerical_df['T1']
# percent of real words
numerical_df['T2\''] = numerical_df['T3'] / numerical_df['T2']
# percent of long words
numerical_df['T3\''] = numerical_df['T5'] / numerical_df['T2']
# percent of positive words
numerical_df['S1\''] = numerical_df['S1'] / numerical_df['T2']
# percent of negative words
numerical_df['S2\''] = numerical_df['S2'] / numerical_df['T2']
# percent of uncertain words
numerical_df['S3\''] = numerical_df['S3'] / numerical_df['T2']

In [ ]:
# make sure we didn't end up with NaN values during feature creation
numerical_df.isna().sum()

In [ ]:
#### additional feature creation
# ratio of positive to negative words
numerical_df['S4\''] = numerical_df['S1']/numerical_df['S2']
# ratio of positive to uncertain words
numerical_df['S5\''] = numerical_df['S1']/numerical_df['S3']
# ratio of negative to uncertain words
numerical_df['S6\''] = numerical_df['S2']/numerical_df['S3']

## Feature Creation with I3 Binning

In [ ]:
# look at categorical dataframe
categorical_df.head()

In [ ]:
# check dtypes again
categorical_df.dtypes

In [ ]:
# create variables for each number
replace_map = {2: "Manufacturing", 3: "Manufacturing", 7: "Service", 8: "Service"}
replace_map2 = {35: "Tech", 36: "Tech", 37: "Tech", 38: "Tech", 73: "Tech"}

In [ ]:
# replace values in rows with multiple I3 codes with the most fitting I3 code
categorical_df.at[174, 'I3'] = 3861
categorical_df.at[187, 'I3'] = 3651
categorical_df.at[221, 'I3'] = 5400
categorical_df.at[246, 'I3'] = 5400
categorical_df.at[499, 'I3'] = 3663
categorical_df.at[620, 'I3'] = 7389

In [ ]:
# copy the 'I3' row from the categorical dataframe into 2 pandas series
i4 = categorical_df['I3']
i5 = categorical_df['I3']

In [ ]:
# create an empty list
result = []
for i in i4:
  # use dictionary to replace values with manufacturing vs. service
  if int(i / 1000) in replace_map.keys():
     result.append(replace_map[int(i / 1000)])
  # if no value matches, replace with other
  else:
    result.append("Others")
print(len(result))

In [ ]:
# create an empty list
result2 = []
for i in i5:
  # use dictionary to replace values with tech
  if int(i / 100) in replace_map2.keys():
     result2.append(replace_map2[int(i / 100)])
  # if no value matches, replace with non-tech
  else:
    result2.append("Non-techs")
print(len(result2))

In [ ]:
# assign feature creations to columns in categorical dataframe
categorical_df['I4'] = result
categorical_df['I5'] = result2

In [ ]:
categorical_df.head(10)

# One hot encoding

In [ ]:
categorical_df_onehot = categorical_df.copy()
categorical_df_onehot = pd.get_dummies(categorical_df_onehot, columns=['I4', 'I5'], prefix=['I4', 'I5'])
categorical_df_onehot.head()

## Merging all data together into one dataframe

Now that we have a new version of the dataset, we can now create a dataframe containing the new features

In [ ]:
competition_df2 = pd.concat([target_df, categorical_df_onehot, numerical_df], axis=1)
competition_df2.reset_index(drop=True, inplace=True)
competition_df2

# Final Dataframes for Feature Selection and Evaluation

In [ ]:
## final numerical features
features_df = competition_df2[['C1\'', 'C4', 'C5\'', 'C6\'', 'C7', 'T1\'', 'T2\'', 'T3\'', 'S1\'', 'S2\'', 'S3\'', 'S4\'', 'S5\'', 'S6\'']]
features_df.head()

In [ ]:
# export to csv for pipeline
to_csv = features_df.to_csv('/content/drive/MyDrive/Classroom/DATA 6545: Machine Learning for Predictive Analysis SP2022/pipeline.csv', index = True, encoding='utf-8')

In [ ]:
## final categorical features
cat_features_df = competition_df2[['C2','C3\'', 'I4_Manufacturing', 'I4_Others', 'I4_Service', 'I5_Non-techs', 'I5_Tech']]
cat_features_df.head()

In [ ]:
# export to csv for pipeline
to_csv = cat_features_df.to_csv('/content/drive/MyDrive/Classroom/DATA 6545: Machine Learning for Predictive Analysis SP2022/categorical_df.csv', index = True, encoding='utf-8')